/* -------------------- RESET -------------------- */

:root {
  --main-text-color: #212121;
  --bg-black-750: hsl(210, 8%, 20%);
  --secondary-text-color: #0d0dc2;
  --main-element-color: #04aa6d;
  --main-element-focus-color: #059862;
  --second-element-focus-color: #7e7e7e;
  --cancellation-color: #db3939;
  --cancellation-light-color: #ea5252;
  --even-row-color: #f2f2f2;
  --label-color: #757575;
  --interactive-color: #ddd;
}

body {
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* -------------------- BASE -------------------- */

.icon {
  fill: currentColor;
}

/* -------------------- TOP LINE -------------------- */

.top-line {
  padding: 10px 0;
  color: white;
  background-color: var(--bg-black-750);
}

.info-wrapper {
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 16px;
  line-height: 1.16;
}

.info::after {
  content: "";
  border-right: 1px solid white;
}

.info-value {
  color: var(--cancellation-light-color);
}

.task-monitoring {
  padding: 20px 0;
}

/* -------------------- FILTER -------------------- */

.filter {
  width: 100%;
}

.filter__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter__item {
  position: relative;
  border-radius: 5px;
}

.filter__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--label-color);
}

.filter__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  height: 42px;
  padding: 10px 38px 10px 18px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--main-element-color);
  border: none;
  border-radius: 5px;
  transition: background-color 250ms, background-color 250ms;
}

.filter__select:focus+.filter__icon {
  transform-origin: left;
  transform: translate(100%, 100%) rotate(180deg);
}

.filter__select option {
  font-weight: inherit;
  font-size: inherit;
  transition: background-color 250ms;
}

.filter__select option:hover,
.filter__select option:focus {
  background-color: var(--main-element-focus-color);
}

.filter__select:hover,
.filter__select:focus {
  background-color: var(--main-element-focus-color);
}

.filter__icon {
  position: absolute;
  top: 0;
  right: 8px;
  transform: translate(0, 100%);
  pointer-events: none;
  fill: white;
}

.filter__item:hover .filter__icon {
  transform: rotate(10%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 42px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 33px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--main-element-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--main-element-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

/* -------------------- TABLE NAVIGATION -------------------- */

.table-navigation__items {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: var(--main-element-color);
  border-radius: 5px;
}

.table-navigation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

.table-navigation__button:active {
  background-color: var(--main-element-focus-color);
}

.table-navigation__span {
  min-width: 30px;
  height: 42px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
}

/* -------------------- TABLE -------------------- */

.table {
  width: 100%;
  max-height: 70vh;
  width: 100%;
  display: block;
  margin: 20px auto;
  overflow-y: scroll;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__body {
  white-space: nowrap;
}

.table__header {
  padding: 12px 8px;
  text-align: left;
  color: white;
  white-space: nowrap;
  background-color: var(--main-element-color);
}

.table__header:nth-child(n+2) {
  width: calc(77vw / 6);
}

.table__head {
  position: sticky;
  top: -1px;
}

.table__header,
.table__cell {
  border: 1px solid #ddd;
}

.table__cell {
  transition: background-color 250ms;
}

.table__data {
  padding: 8px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.table__cell:first-child,
.table__header:first-child {
  width: 3vw;
  text-align: center;
  background-color: var(--cancellation-color);
}

.table__cell:first-child {
  background-color: var(--cancellation-light-color);
  color: white;
}

.table__header:first-child {
  background-color: var(--cancellation-color);
}

.table__cell--interactive:hover {
  cursor: pointer;
  background-color: var(--main-element-color);
  color: white;
}

.table__equalizer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.table__row:nth-child(2n + 2) {
  background-color: var(--even-row-color);
}

.table__row:hover {
  background-color: var(--interactive-color);
}

/* -------------------- MODAL -------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: visibility 250ms, opacity 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 0 40px 20px;
  max-width: 90%;
  margin: auto;

  background-color: white;
  border: 1px solid var(--main-text-color);
  border-radius: 15px;
}

.modal__text-wrapper {
  padding: 8px 28px 8px 8px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;

  transition: color 250ms, fill 250ms;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--cancellation-color);
}

.modal__close-icon {
  fill: currentColor;
}

/* -------------------- JavaScript -------------------- */

.js-modal-visible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  backdrop-filter: blur(0.5px);
}

/* -------------------- MEDIA -------------------- */

@media screen and (max-width: 768px) {

  .container {
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  /* -------------------- TOP LINE -------------------- */

  .top-line__items {
    gap: 10px;
    justify-content: center;
    font-size: 11px;
  }

  /* -------------------- FILTER -------------------- */

  .filter__items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .filter__select {
    font-size: 12px;
  }

  .filter__label {
    font-size: 10px;
  }

  .filter__icon {
    width: 10px;
    height: 10px;
  }

  /* -------------------- TABLE -------------------- */

  .table {
    margin-top: 10px;
    font-size: 12px;
  }

  .table__cell {
    padding: 4px;
    font-size: 12px;
  }

  .table__header {
    padding: 8px;
    text-align: left;
  }

  .table__icon {
    display: none;
  }

  /* -------------------- MODAL -------------------- */

  .modal {
    font-size: 12px;
  }
}